@model IEnumerable<Superheroes.Models.SuperHero>

@{
    ViewData["Title"] = "Index";
}

<h1>Here are your Heroes.</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alterEgo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.primaryAbility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.secondaryAbility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.catchPrase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weakness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.favorite)
            </th>
            <th>
               <img href="@Html.DisplayNameFor(model => model.IMGurl)" >
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alterEgo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primaryAbility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.secondaryAbility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.catchPrase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weakness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.favorite)
            </td>          
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                @Html.ActionLink("Details", "Details", new { item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
